{% extends 'base.html' %}
{% block title %}
    Informacion Artesanos
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ver-artesanos.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <p>Presione el nombre del Artesano para obtener mas Informacion de este</p>
    <table id="tabla">
        <tr>
            <td>Nombre</td>
            <td>Teléfono</td>
            <td>Comuna</td>
            <td>Tipo Artesanías</td>
            <td>Foto</td>
        </tr>
        {% for artesano in artesanos %}
        <tr>
            <td>{{artesano[2]}}</td>
            <td>{{artesano[3]}}</td>
            <td>{{artesano[1]}}</td>
            <td>
                {% for tipo in tipos %}
                {% if tipo[1] == artesano[0] %}
                    <p>{{tipo[0]}}</p>
                {% endif %}
                {% endfor %}
            </td>
            <td>Foto</td>
            <td>{{artesano}}</td>
        </tr>
        {% endfor %}
    </table>
    <a class="boton" href=".">Volver a Inicios</a>
</div>
{% endblock %}
{% block js %}
    <script src="{{url_for('static', filename='js/ver-artesano.js')}}"></script>
{% endblock %}